* {
  background-color: beige;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  font-style: oblique;
  color: purple;
}
#gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.square {
  display: flex;
  flex-wrap: wrap;
  float: left;
  border: 5px solid purple;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30%;
  text-align: center;
  font-size: 80px;
}
#controls,
#message {
  text-align: center;
  margin: 20px 0;
}

button {
  cursor: pointer;
  border: 5px solid purple;
  background-color: rgb(242, 175, 230);
}
